version: "3.8"

services:
  ros_foxy_realsense:
    container_name: ros_foxy_realsense
    build:
      context: .                        # directory containing your Dockerfile
      dockerfile: Dockerfile.foxy       # or ./docker/Dockerfile if nested
    image: ros-foxy-realsense:l4t-r32.7.1
    runtime: nvidia
    network_mode: host
    privileged: true
    restart: "no"
    tty: true
    stdin_open: true
    volumes:
      - ~/zms_engineering/jetbot-slam:/workspace/jetbot-slam
    devices:
      - /dev/video0
      - /dev/video1
      - /dev/video2
      - /dev/bus/usb
    environment:
      - ROS_DOMAIN_ID=0
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    command: ["/bin/bash"]

  ros_galactic_foxglove:
    build:
      context: .
      dockerfile: Dockerfile.galactic
    image: ros-galactic-foxglove:l4t-r35.1.0
    network_mode: host
    runtime: nvidia
    environment:
      - ROS_DISTRO=galactic
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all


