services:
  foxy_jetbot_dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: foxy_jetbot_dev
    network_mode: host
    ipc: host
    privileged: true   # simplest for early bringup on Jetson Nano
    environment:
      - ROS_DOMAIN_ID=27
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ../../ros2_ws:/ros2_ws:rw
    devices:
      - /dev/i2c-1:/dev/i2c-1
      - /dev/ttyTHS1:/dev/ttyTHS1
    working_dir: /ros2_ws
    tty: true
    stdin_open: true
