services:
  foxy_motor_dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: foxy_motor_dev
    network_mode: host
    ipc: host
    privileged: true   # simplest for early bringup on Jetson Nano
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    volumes:
      - ../../ros2_ws:/ros2_ws:rw
    devices:
      - /dev/i2c-1:/dev/i2c-1
    working_dir: /ros2_ws
    tty: true
    stdin_open: true
