version: "3.8"

services:
  ros_galactic_foxglove:
    container_name: ros_galactic_foxglove
    build:
      context: .
      dockerfile: Dockerfile.galactic
    image: ros-galactic-foxglove:l4t-r32.7.1
    network_mode: host
    ipc: host
    shm_size: "1024m"
    volumes:
      - /dev/shm:/dev/shm
    runtime: nvidia
    tty: true
    stdin_open: true
    environment:
      - ROS_DISTRO=galactic
      - ROS_DOMAIN_ID=27
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
