version: "3.8"

services:
  ros_foxy_realsense:
    container_name: ros_foxy_realsense
    build:
      context: .                        # directory containing your Dockerfile
      dockerfile: Dockerfile.foxy       # or ./docker/Dockerfile if nested
    image: ros-foxy-realsense:l4t-r32.7.1
    runtime: nvidia
    network_mode: host
    privileged: true
    restart: "no"
    tty: true
    stdin_open: true
    # volumes:
    #   - ../../realsense_support:/workspace/realsense_support:rw
    devices:
      - /dev/video0
      - /dev/video1
      - /dev/video2
      - /dev/bus/usb
    environment:
      - ROS_DOMAIN_ID=27
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all


